@import "../../custom-theme"

.version-card
  border-radius: 20px
  background-color: mat-color($Magma-Site-primary)
.version-card-actions
  text-align: center
  background-color: mat-color($Magma-Site-primary)
  text-decoration: none
  color: red

.mat-divider
  background-color: black
