<mat-card class="version-card">
  <mat-card-header>
    <mat-card-title>{{resource.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Id: {{resource.id}}</p>
    <p>Tag: {{resource.tag_name}}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="version-card-actions">
    <a *ngIf="resource.assets.length > 1" href="{{resource.assets[1].browser_download_url}}">Download</a>
    <a *ngIf="resource.assets.length == 1" href="{{resource.assets[0].browser_download_url}}">Download</a>
  </mat-card-actions>
</mat-card>
