<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Magma Development Limited</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/slick-theme.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/royal-preload.css" />
    <link rel="stylesheet" href="css/Main.css" />
  </head>
  <body class="royal_preloader">
    <div id="page" class="site">
      <header
        id="site-header"
        class="site-header header-style-3 header-overlay header-fullwidth sticky-header"
      >
        <div class="header-topbar">
          <div class="octf-area-wrap">
            <div class="container-fluid">
              <!-- social icons -->
              <ul class="social-list">
                <li>
                  <a href="#" target="_self"><i class="fab fa-discord"></i></a>
                </li>
                <li>
                  <a href="#" target="_self"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" target="_self"><i class="fab fa-patreon"></i></a>
                </li>
              </ul>
              <!-- social icons close -->

              <!-- contact info -->
              <ul class="topbar-info clearfix">
                <li>
                  <i class="flaticon-envelope"></i> support@magmafoundation.org
                </li>
              </ul>
              <!-- contact info close -->
            </div>
          </div>
        </div>
        <!-- Main Header start -->
        <div class="octf-main-header">
          <div class="octf-area-wrap">
            <div class="container-fluid octf-mainbar-container">
              <div class="octf-mainbar">
                <div class="octf-mainbar-row octf-row">
                  <!-- logo start -->
                  <div class="octf-col">
                    <div id="site-logo" class="site-logo">
                      <a href="index.html">
                        <img
                          class="logo-static"
                          src="images/magma-logo.png"
                          alt="Magma"
                        />
                        <img
                          class="logo-scroll"
                          src="images/magma-logo-dark.png"
                          alt="Magma"
                        />
                      </a>
                    </div>
                  </div>
                  <!-- logo start -->

                  <!-- nav start -->
                  <nav id="site-navigation" class="main-navigation">
                    <ul id="primary-menu" class="menu">
                      <li class="current-menu-item current-menu-ancestor">
                        <a href="index.html"><i class="fas fa-home"></i> Home</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-info"></i> About</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-handshake"></i> Partners</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-server"></i> Hosts</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-download"></i> Downloads</a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-code"></i> API</a>
                      </li>
                  </nav>
                  <!-- #site-navigation -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Header mobile -->
        <div class="header_mobile">
          <div class="container">
            <div class="mlogo_wrapper clearfix">
              <!-- logo mobile start -->
              <div class="mobile_logo">
                <a href="index.html"
                  ><img src="images/magma-logo.png" alt="Onum"
                /></a>
              </div>
              <!-- logo mobile end -->

              <div id="mmenu_toggle">
                <button></button>
              </div>
            </div>

            <!-- nav mobile start -->
            <div class="mmenu_wrapper">
              <div class="mobile_nav">
                <ul id="menu-main-menu" class="mobile_mainmenu">
                  <li class="current-menu-item current-menu-ancestor">
                    <a href="index.html"><i class="fas fa-home"></i> Home</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-info"></i> About</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-handshake"></i> Partners</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-server"></i> Hosts</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-download"></i> Downloads</a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-code"></i> API</a>
                  </li>
                  </ul>
              </div>
            </div>
            <!-- nav mobile end -->
          </div>
        </div>
      </header>

      <div id="content" class="site-content">
        <section class="banner big-padding-top bg-banner-gradient particles-js" data-color="#ffffff, #00c3ff, #fe4c1c" data-id="i1">
            <div class="bg-overlay-1"></div>
            <div class="shape shape-bottom" data-negative="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
                </svg>
            </div>
            <div class="banner-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="banner-stitle m-b55 xs-m-b40">Enchant your Forge Server<br><span class="text-second">Today</span></h2>
                            <h6 class="banner-title m-b0">Magma is most powerful Forge server, providing you with mods and Plugins using Spigot and Paper for Performance and Stability. </h6>
                              <div class="wpcf7">
                                <div class="screen-reader-response"></div>
                                <button type="submit" class="octf-btn octf-btn-icon octf-btn-primary">Start Now<i class="flaticon-right-arrow-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-home bg-light">
          <div class="container">
            <div class="text-center">
              <h1 class="about-text">About Magma</h1>
            </div>
        </div>
        </section>
        <section class="seo-about ">
            <div class="shape shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="shape-fill" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
                </svg>
            </div>
            <div class="container">

                <div class="row">
                    <div class="top-up">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="icon-box s3 text-center">
                                <div class="bg-s3"></div>
                                <div class="bg-before" style="background: url('images/bg1-box.png') top left no-repeat #fff;"></div>
                                <div class="bg-after" style="background: url('images/bg2-box.png') bottom right no-repeat #fff;"></div>
                                <div class="icon-main">
                                    <span class="flaticon-startup"></span>
                                </div>
                                <div class="content-box">
                                    <h5>Fast & Optimized</h5>
                                    <p>Paper patches for Performance Optimization and Stability.</p>
                                </div>
                                <div class="action-box">
                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Learn More<i class="flaticon-right-arrow-1"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t50">
                            <div class="icon-box s3 text-center">
                                <div class="bg-s3"></div>
                                <div class="bg-before" style="background: url('images/bg1-box2.png') top left no-repeat #fff;"></div>
                                <div class="bg-after" style="background: url('images/bg2-box2.png') bottom right no-repeat #fff;"></div>
                                <div class="icon-main">
                                    <span class="flaticon-system"></span>
                                </div>
                                <div class="content-box">
                                    <h5>Easy to Use</h5>
                                    <p>Magma makes it easy to get up and running with a forge and spigot server with easy install</p>
                                </div>
                                <div class="action-box">
                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Learn More<i class="flaticon-right-arrow-1"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 xs-m-t50">
                            <div class="icon-box s3 text-center">
                                <div class="bg-s3"></div>
                                <div class="bg-before" style="background: url('images/bg1-box3.png') top right no-repeat #fff;"></div>
                                <div class="bg-after" style="background: url('images/bg2-box3.png') bottom left no-repeat #fff;"></div>
                                <div class="icon-main">
                                    <span class="flaticon-internet"></span>
                                </div>
                                <div class="content-box">
                                    <h5>Open Source</h5>
                                    <p>Magma is open source and free. Contributors are always welcome we will always be free.</p>
                                </div>
                                <div class="action-box">
                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Learn More<i class="flaticon-right-arrow-1"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 m-t50">
                            <div class="icon-box s3 box-hover-gradient text-center">
                                <div class="bg-s3"></div>
                                <div class="bg-before" style="background: url('images/bg1-box2.png') top left no-repeat #fff;"></div>
                                <div class="bg-after"></div>
                                <div class="icon-main">
                                    <span class="flaticon-report"></span>
                                </div>
                                <div class="content-box">
                                    <h5>Active Development & Support</h5>
                                    <p>At Magma we strive to having a great support team and an active development team</p>
                                </div>
                                <div class="action-box">
                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Learn More<i class="flaticon-right-arrow-1"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-b120">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="partners">
                          <h1 class="p-t130 text-center">Partners</h1>
                          <div class="owl-carousel home-client-carousel">
                              <div class="partners-slide">
                                  <a href="#" class="client-logo">
                                      <figure class="partners-slide-inner">
                                          <img class="partners-slide-image" src="./images/assets/aternos.svg" alt="">
                                      </figure>
                                  </a>
                              </div>
                              <div class="partners-slide">
                                  <a href="#" class="client-logo">
                                      <figure class="partners-slide-inner">
                                          <img class="partners-slide-image" src="./images/assets/server-jar.svg" alt="">
                                      </figure>
                                  </a>
                              </div>
                              <!-- <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="./images/assets/elixirnode.webp" alt="">
                                    </figure>
                                </a>
                            </div> -->
                              <div class="partners-slide">
                                  <a href="#" class="client-logo">
                                      <figure class="partners-slide-inner">
                                          <img class="partners-slide-image" src="./images/assets/yourkit.png" alt="">
                                      </figure>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="p-b120 bg-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm col-xs-12">
                    <h3 class="title-default m-b50 text-center">Active Statistics</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="shadow-primary p-t100 p-b100 m-b50 btn-rounder bg-cover text-center" style="background: url('images/bg-counter-1.jpg') center center no-repeat;">
                        <div class="bg-overlay"></div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12 sm-m-b40 xs-m-b40">
                                <div class="ot-counter s2">
                                    <h6>SERVERS</h6>
                                    <div>
                                        <span class="num" data-time="2000" data-to="713">713</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 xs-m-b40 sm-m-b40">
                                <div class="ot-counter s2">
                                    <h6>PLAYERS</h6>
                                    <div>
                                        <span class="num" data-time="2000" data-to="634">634</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 xs-m-b40">
                                <div class="ot-counter s2">
                                    <h6>FIXED BUGS</h6>
                                    <div>
                                        <span class="num" data-time="2000" data-to="152">152</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="ot-counter s2">
                                    <h6>ISSUES</h6>
                                    <div>
                                        <span class="num" data-time="2000" data-to="6">6</span>
                                        <span>+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


             <section class="p-t330 p-b210 cta bg-cta " data-color="#fe4c1c,#00c3ff,#0160e7" data-id="i1-1">
                <div class="bg-overlay opacity-1"></div>
                <div class="shape shape-top" data-negative="false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                        <path class="shape-fill" d="M1000,4.3V0H0v4.3C0.9,23.1,126.7,99.2,500,100S1000,22.7,1000,4.3z"></path>
                    </svg>
                </div>
                <div class="container">
                    <div class="cta-content text-center">
                        <h2 class="m-b20">Downloads Here!</h2>
                    </div>

                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="icon-box-grid text-center">
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.12</h5>
                                                    <p>Version: v2c7ce42</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.15</h5>
                                                    <p>Version: v2c7ce42</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.16</h5>
                                                    <p>Version: v2c7ce42</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.12</h5>
                                                    <p>Version: v8f565f7</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.15</h5>
                                                    <p>Version: v2c7ce42</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 no-padding">
                                            <div class="icon-box text">
                                                <div class="icon-main">
                                                    <i class="fas fa-download"></i>
                                                </div>
                                                <div class="content-box">
                                                    <h5>Magma 1.16</h5>
                                                    <p>Version: v2c7ce42</p>
                                                </div>
                                                <div class="action-box">
                                                    <a href="#" class="octf-btn octf-btn-icon octf-btn-white">Download<i class="flaticon-right-arrow-1"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
            </section>

    </div>


    <footer id="site-footer" class="site-footer bg-banner-gradient footer-top-bottom" data-color="#ffffff, #00c3ff, #fe4c1c" data-id="i1">
        <div class="footer-shape-top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="footer-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
            </svg>
        </div>
        <div class="container">

            <div class="footer-logo text-center">
                <img src="images/footer.png" class="attachment-large size-large" alt="">
            </div>

            <div class="footer-menu">
                <ul id="menu-footer-menu" class="menu">
                    <li><a href="index.html" aria-current="page">Home</a></li>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="portfolio-grid.html">Partners</a></li>
                    <li><a href="faqs.html">Hosts</a></li>
                    <li><a href="faqs.html">Downloads</a></li>
                    <li><a href="contacts.html">API</a></li>
                </ul>
            </div>

            <p class="copyright text-center">&copy; 2018 - 2021 Magma Development</p>
            <p class="copyright text-center">Registered in United Kingdom ID: #12428426</p>

        </div>
    </footer><!-- #site-footer -->

    </div>
    <a id="back-to-top" href="#" class="show"><i class="flaticon-arrow-pointing-to-up"></i></a>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/easypiechart.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/header-mobile.js"></script>
    <script src="js/royal_preloader.min.js"></script>
  </body>
  <script type="text/javascript">
    window.jQuery = window.$ = jQuery;
    (function ($) {
      "use strict";
      //Preloader
      Royal_Preloader.config({
        mode: "logo",
        logo: "images/magma-logo.png",
        logo_size: [160, 75],
        showProgress: true,
        showPercentage: true,
        text_colour: "#000000",
        background: "#ffffff",
      });
    })(jQuery);
  </script>
</html>
