<div class="footer">
  <mat-toolbar color="primary">
    <div class="container">
      <mat-toolbar-row>
        <img src="assets/magma_icon.png" alt="" class="img-fluid image">
        <div class="div text-truncate">
          <h1 class="copyright">
            <mat-icon fontSet="fa" fontIcon="fa-copyright"></mat-icon>
            2018 - 2020 Magma Development
          </h1>
          <span>Registered in United Kingdom </span>
          <span class="muted">ID: #12428426</span>
        </div>

        <span class="menu-spacer"></span>

        <div class="" fxHide.lt-md>
          <button mat-button>
            <mat-icon fontSet="fab" fontIcon="fa-patreon"></mat-icon>
            Patreon
          </button>
          <button mat-button>
            <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
            Twitter
          </button>
          <button mat-button>
            <mat-icon fontSet="fab" fontIcon="fa-discord"></mat-icon>
            Discord
          </button>
          <button mat-button>
            <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
            Github
          </button>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>

</div>

