<div fxLayout="row" class="main-card-container">
  <div fxFlex="70" fxFlexOffset="15">
    <mat-card class="main-card">
      <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center start">
          <img class="main-card-image" src="assets/forge-papper-logo-dark.svg" mat-card-image>
        </div>
        <div class="text" fxLayout="column" fxLayoutAlign="center end">
          <h1>Enchant your Forge Server</h1>
          <span>Magma is most powerful Forge server providing you with Forge mods and Bukkit Plugins using Spigot and Paper for Performance Optimization and Stability.</span>
        </div>
      </div>
    </mat-card>

  </div>
</div>
