
.bg-banner-gradient {
  background-color: transparent;
  background-image: linear-gradient(45deg, #8A47BB 0%, #F12E36, 50%, #FFCD5F 100%);
}

.text-second {
  color: #ffd2bc;
}

.banner .banner-title {
  color: white;
}

.icon-box.s3 .icon-main {
  background-color: transparent;
  background-image: linear-gradient(180deg, #f3463c 100%, #f2295b 100%);
}

.icon-box.s3:hover .bg-s3 {
  background-color: #ff403e;
  background-image: -moz-linear-gradient(145deg, #f2295b, #fe4c1c);
  background-image: -webkit-linear-gradient(145deg, #f2295b, #fe4c1c);
  background-image: linear-gradient(145deg, #f2295b, #fe4c1c);
}

.icon-box.s3:hover .icon-main {
  background: #fff;
  color: #ff403e;
}

.text-white {
  color: white;
}

.badge {
  position: absolute;
  left: -7px;
  top: 19px;
  background-color: #FD4507;
  -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  text-align: center;
  color: white;
  padding: 0 .5em;
  border-top: 0px;
  line-height: 20px;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}
.badge:after {
  content: ' ';
  position: absolute;
  right: -19px;
  top: 0px;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FD4507;
}
.badge:before {
  content: ' ';
  position: absolute;
  left: -19px;
  top: 0px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #FD4507;
}

#menu-footer-menu li{
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

@import "./include/bootstrap.css";
@import "./include/font-awesome.css";
@import "./include/flaticon.css";
@import "./include/slick.css";
@import "./include/slick-theme.css";
@import "./include/magnific-popup.css";
@import "./include/style.css";

@import "./navbar";
