<div class="main-card-container card-deck">
  <div class="card mb-3 main-card" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="text-center col-md-10">
        <mat-icon fontSet="fa" fontIcon="fa-bolt"></mat-icon>
      </div>

      <div class="col-md-13">
        <div class="card-body text">
          <h3 class="card-title">Super Fast and Optimized</h3>
          <span class="card-text">Magma uses Paper patches to gain the most performance it can</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 main-card" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="text-center col-md-10">
        <mat-icon fontSet="fa" fontIcon="fa-code "></mat-icon>
      </div>

      <div class="col-md-13">
        <div class="card-body text">
          <h3 class="card-title">Open Source</h3>
          <span class="card-text">We are open source and take pride in all our developers and contributors</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 main-card" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="text-center col-md-10">
        <mat-icon fontSet="fa" fontIcon="fa-user-friends"></mat-icon>
      </div>

      <div class="col-md-13">
        <div class="card-body text">
          <h3 class="card-title">Active Development & Support</h3>
          <span class="card-text">We have a active development team ready to fix bugs and add features.</span>
        </div>
      </div>
    </div>
  </div>
</div>


