<div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
  <mat-card class="about-card">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center start">
        <mat-icon fontSet="fa" fontIcon="fa-bolt"></mat-icon>
      </div>
      <div class="text" fxLayout="column" fxLayoutAlign="center end">
        <h2>Super Fast and Optimized</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aut consectetur, culpa eos, ex excepturi illo in ipsa magnam nam necessitatibus numquam odit quibusdam repellat repudiandae tempore, vel! Odit.</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="about-card">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center start">
        <mat-icon fontSet="fa" fontIcon="fa-code"></mat-icon>
      </div>
      <div class="text" fxLayout="column" fxLayoutAlign="center end">
        <h2>Open Source</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolores, doloribus exercitationem explicabo inventore itaque laborum laudantium libero molestias odio perspiciatis quisquam quo repellendus sapiente sint suscipit, ut velit voluptatum.</span>
      </div>
    </div>
  </mat-card>
  <mat-card class="about-card">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center start">
        <mat-icon fontSet="fa" fontIcon="fa-user-friends"></mat-icon>
      </div>
      <div class="text" fxLayout="column" fxLayoutAlign="center end">
        <h2>Active Development & Support</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur debitis delectus eum exercitationem facilis in itaque magni nulla numquam odio placeat praesentium quae quia quibusdam, quis rem repudiandae sapiente.</span>
      </div>
    </div>
  </mat-card>
</div>


